{% for article in articles limit: 3 %}
  {% include 'entry' %}
{% endfor %}

<div class="page">
<h3 class="header">Previous Entries</h3>
  {% for article in articles limit: 10 offset: continue %}
    {% include 'entry_overview' %}
  {% endfor %}
</div>

